<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/Admin :: head"></head>
<body >


	<nav th:replace="/admin/LayerQuanLy  :: menu"></nav>
		<div style="margin-top: 0px;">
	<div th:fragment="flute_menu" class="left-menu sticky">
	<div >
		
					<button style="color: red !important"  type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#lefttmenu ">
						<span class="sr-only">Toggle navigation</span> <span class="	glyphicon glyphicon-chevron-down"></span> 
					</button>
					

				</div>
				<div class="navbar-collapse collapse" id="lefttmenu">
		<form action="#" th:action="@{/adflutefilter}" th:object="${filter}"
			method="GET">
			<li>LOẠI</li>
			<div th:each="contact,iterStat : ${categories}">

				<li><input th:field="${filter.category2}" th:value="${contact.id}"
					type="radio" name="category" /> <a
					th:href="@{/adflutefilterCategory/{id}(id=${contact.id})}"
					th:text="${contact.category}"></a></li>
			</div><b></b>
			<li>HÃNG</li>

			<div th:each="contact,iterStat : ${producers}">
				<li><input th:field="*{producer}" th:value="${contact.pid}"
					type="radio" name="producer" /><a
					th:href="@{/adflutefilterProducer/{id}(id=${contact.pid})}"
					th:text="${contact.name}"></a></li>
			</div><b></b>

			<li>GIÁ <a class="linkModifyPrice" th:href="@{/editprice/4}">Thay đổi giá</a></li> 


			<li><input th:field="*{price1}" th:value="1" type="radio"
				name="price" /><a th:href="@{/adflutefilterPrice/1}">Dưới <span th:text="${filter.priceView1}"></span>K
					</a></li>
			<li><input th:field="*{price1}" th:value="2" type="radio"
				name="price" /><a th:href="@{/adflutefilterPrice/2}">Từ <span th:text="${filter.priceView1}"></span>K đến <span th:text="${filter.priceView2}"></span> triệu
					</a></li>
			<li><input th:field="*{price1}" th:value="3" type="radio"
				name="price" /><a th:href="@{/adflutefilterPrice/3}">Từ <span th:text="${filter.priceView2}"></span> đến <span th:text="${filter.priceView3}"></span> triệu </a></li>
			<li><input th:field="*{price1}" th:value="4" type="radio"
				name="price" /><a th:href="@{/adflutefilterPrice/4}">Trên <span th:text="${filter.priceView3}"></span> triệu</a></li><b></b>
			<li><br />
			<button class="btn btnfilter">
					<span class="glyphicon glyphicon-search"></span> Lọc
				</button></li>
		</form>
	</div>
</div>



	<div class="container jumbotron right">

		<div th:if="${success}" class=" alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text="${success}"></span>
		</div>

		<div class="menu-title2">
			<a th:text="${tittle}"></a>
		</div>
		<th:block th:if="${#lists.isEmpty(infos)}">
			<h3 class="sanpham">Không có dữ liệu</h3>
		</th:block>
		<th:block th:unless="${#lists.isEmpty(infos)}">
			<table class="table table-bordered">
				<thead>
					<tr>

						<th>Mã</th>
						<th>Tên</th>
						<th>Loại</th>
						<th>Hãng</th>
						<th>Màu</th>
						<th>Rate</th>
						<th>Số lượng</th>
						<th>Giá</th>
						<th>Giảm (%)</th>
						<th>Giá bán</th>
						<th>Thao tác</th>
					</tr>
				</thead>
				<tbody>


					<tr th:each="contact,iterStat : ${infos}">
						<td th:text="${contact.id}"></td>
						<td><a th:href="@{/_product/{id}(id=${contact.id})}"
							th:text="${contact.name}"></a></td>
						<td th:text="${contact.category2}"></td>
						<td th:text="${contact.producer}"></td>
						<td th:text="${contact.color}"></td>
						<td th:text="${contact.rate}"></td>
						<td th:text="${contact.soluong}"></td>
						<td th:text="${contact.gia}"></td>
						<td th:text="${contact.giamgia}"></td>
						<td th:text="${contact.giasaugiam}"></td>

						<td><a th:href="@{/adflute/{id}/edit(id=${contact.id})}"><button
									id="btn-click" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a> <a
							th:href="@{/adflute/{id}/delete(id=${contact.id})}"><button
									id="btn-click" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button></a></td>
					</tr>

				</tbody>
			</table>
		</th:block>
		<br /> <a th:href="@{/adflute/create}">
			<button id="btn-click" class="btn btn-success">Thêm mới</button>
		</a>


	</div>


</div>



	<!--   <div class="container jumbotron right">
        
         <div class="menu-title">  
            
             <a>CÁC SẢN PHẨM KHÁC</a>
        </div>   
       </div> -->






	<footer th:replace="index :: footer"></footer>


</body>
</html>