<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/Admin :: head">


</head>
<body>


	<nav th:replace="/admin/LayerQuanLy  :: menu"></nav>
	<div style="margin-top: 0px;">
	<div class="left-menu sticky">

		<form action="#" th:action="@{/adtc/check}" th:object="${model}"
			method="POST" enctype="multipart/form-data">
			<a class="linkModifyPrice" th:href="@{/adtc/checkdate}">Hôm nay</a>
			<a class="linkModifyPrice" th:href="@{/adtc/checkmonth}">Tháng này</a>
			<a class="linkModifyPrice" th:href="@{/adtc/checkyear}">Năm này</a>
			<br/>
			<div class="form-group">
				<label>Ngày bắt đầu:</label> <input type="date"
					th:value="${model.dateStart}" class="form-control size-input-date"
					th:field="*{dateStart}" /> <span class="error-message"
					th:errors="*{dateStart}">58</span>
			</div>
			<div class="form-group">
				<label>Ngày kết thúc:</label> <input type="date"
					th:value="${model.dateEnd}" class="form-control size-input-date"
					th:field="*{dateEnd}" /> <span class="error-message"
					th:errors="*{dateEnd}">58</span>
			</div>
			<div class="form-group">
				<label>Tổng tiền bán ra:</label> <label id="numMoneySell"
					th:text="${model.numMoneySell}"></label>
			</div>
			<div class="form-group">
				<label>Tổng tiền lãi:</label> <label id="revenue" th:text="${model.revenue}"></label>
			</div>
			<div class="form-group">
				<label>Tổng hóa đơn:</label> <label th:text="${model.numBill}"></label>
			</div>
			<div class="form-group">
				<label>Tổng tiền nhập:</label> <label id="numMoneyBuy" th:text="${model.numMoneyBuy}"></label>
			</div>
 <label style="display: none;" id="tittle"  th:text="${tittle}" ></label>
			<button type="submit" class="btn btn-success btnsave">Tra
				cứu</button>
		</form>
	</div>


<script type="text/javascript">
window.onload = function () {

	
	var sumMoneySell=document.getElementById("numMoneySell").textContent;
	var revenue=document.getElementById("revenue").textContent;
	var numPurchaseMoney=document.getElementById("numMoneyBuy").textContent;
	var title=document.getElementById("tittle").textContent;
var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	title:{
		text: ""
	},
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "column",
		dataPoints: [
			{ label: "Tổng số tiền bán ra",  y: Number(sumMoneySell)  },
			{ label: "Tiền lãi tương ứng", y: Number(revenue)  },
			{ label: "Tổng số tiền nhập hàng",  y: Number(numPurchaseMoney)  }
		]
	}
	]
});
chart.render();

}
</script>
	<div class="container jumbotron right">
		
	
				<span th:text="${tittle}"></span>
		


<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
	</div>
</div>





</body>
</html>