<!DOCTYPE html>
<html lang="en">
<head th:replace="index :: head"></head>
<body>
	<nav th:replace="guitar :: header"></nav>
	<!--End Thanh menu-->

	<div th:fragment="content">
		<div th:fragment="guitar_menu" class="left-menu sticky">

			<div>

				<button style="color: #49c8ef !important" type="button"
					class="navbar-toggle" data-toggle="collapse"
					data-target="#lefttmenu ">
					<span class="sr-only">Toggle navigation</span> <span
						class="	glyphicon glyphicon-chevron-down"></span>
				</button>


			</div>
			<div class="navbar-collapse collapse" id="lefttmenu">
				<form action="#" th:action="@{/drumfilter}" th:object="${filter}"
					method="GET">
					<li>LOẠI</li>
					<div th:each="contact,iterStat : ${categories}">

						<li><input th:field="${filter.category2}"
							th:value="${contact.id}" type="radio" name="category" /> <a
							th:href="@{/drumfilterCategory/{id}(id=${contact.id})}"
							th:text="${contact.category}"></a></li>
					</div>
					<b></b>
					<li>HÃNG</li>

					<div th:each="contact,iterStat : ${producers}">
						<li><input th:field="*{producer}" th:value="${contact.pid}"
							type="radio" name="producer" /><a
							th:href="@{/drumfilterProducer/{id}(id=${contact.pid})}"
							th:text="${contact.name}"></a></li>
					</div>
					<b></b>
					<li>GIÁ</li>





					<li><input th:field="*{price1}" th:value="1" type="radio"
						name="price" /><a th:href="@{/drumfilterPrice/1}">Dưới <span
							th:text="${filter.priceView1}"></span> triệu
					</a></li>
					<li><input th:field="*{price1}" th:value="2" type="radio"
						name="price" /><a th:href="@{/drumfilterPrice/2}">Từ <span
							th:text="${filter.priceView1}"></span> đến <span
							th:text="${filter.priceView2}"></span> triệu
					</a></li>
					<li><input th:field="*{price1}" th:value="3" type="radio"
						name="price" /><a th:href="@{/drumfilterPrice/3}">Từ <span
							th:text="${filter.priceView2}"></span> đến <span
							th:text="${filter.priceView3}"></span> triệu
					</a></li>
					<li><input th:field="*{price1}" th:value="4" type="radio"
						name="price" /><a th:href="@{/drumfilterPrice/4}">Trên <span
							th:text="${filter.priceView3}"></span> triệu
					</a></li>
					<b></b>

					<li><br />
						<button class="btn btnfilter">
							<span class="glyphicon glyphicon-search"></span> Lọc
						</button></li>
				</form>
			</div>

		</div>
		<div class="container jumbotron right">


			<div class="menu-title2">
				<a th:text="${tittle}"></a>
			</div>

			<th:block th:if="${#lists.isEmpty(infos)}">
				<h3 class="sanpham">Không có dữ liệu</h3>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(infos)}">
				<!--san pham-->
				<div th:each="contact,iterStat : ${infos}">
					<div class="col-sm-3 ">
						<div class="sanpham panel panel-default">
							<div class="panel-body">
								<img class="img-responsive "
									th:src="@{|/productImage?code=${contact.id}|}" />
								<div th:if="${contact.giamgia}!=0">
									<div class="sticksale">
										-<span th:text="${contact.giamgia}"></span>%
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<p class="tensanpham" th:text="${contact.name}"></p>

								<p class="cost" th:text="${contact.giasaugiam}"></p>

								<div th:switch="${contact.giamgia}">

									<p class="status" th:case="'0'" th:text="${contact.producer}"></p>
									<p class="status" th:case="*">
										<span class="giamgia" th:text="${contact.gia}"></span>
									</p>

								</div>
								<a th:href="@{/product_drum/{id}(id=${contact.id})}"><button
										class="btnchitiet btn">
										<span class="glyphicon glyphicon-shopping-cart"></span> Chi
										tiết
									</button></a>
							</div>
						</div>
					</div>
				</div>
			</th:block>



		</div>
		<br />



	</div>
	<!--Thông tin liên hệ-->
	<footer th:replace="index :: footer"></footer>
</body>
</html>