<!DOCTYPE html>
<html lang="en">
<head th:replace="index :: head"></head>


<body onload="TrangThaiHang()">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v3.1';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<nav th:replace="guitar :: header"></nav>
	<nav th:replace="guitar :: guitar_menu"></nav>

	<div th:fragment="product">
		<div class="container jumbotron right">
			<div th:if="${success}" class=" alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<span th:text="${success}"></span>
			</div>

			<div class="menu-title2">
				<a>THÔNG TIN SẢN PHẨM</a>
			</div>
			<form action="#" th:action="@{/shoppingcart}"
				th:object="${cartLineInfos}" method="POST"
				enctype="multipart/form-data">

				<input type="hidden" th:field="${cartLineInfos.id}" /> <input
					type="hidden" th:field="${cartLineInfos.name}" /> <input
					type="hidden" th:field="${cartLineInfos.category}" /> <input
					type="hidden" th:field="${cartLineInfos.producer}" /> <input
					type="hidden" th:field="${cartLineInfos.color}" /> <input
					type="hidden" th:field="${cartLineInfos.giasaugiam}" />
				<!--san pham-->
				<div class="col-sm-6 ">
					<div class="product-image">
						<img class="img-responsive "
							th:src="@{|/productImage?code=${info.id}|}" />
					</div>

				</div>
				<!--san pham-->

				<div class="col-sm-6 ">
					<div class="text-infomation">
						<div class="ten">
							<span th:text="${info.name}"> </span>
						</div>
						<div class="small-info">
							( <span th:text="${info.visits}"> </span> lượt xem)
						</div>

						<div class="tensanpham">
							Giá: <span th:text="${info.giasaugiam}"> </span>
						</div>
						<div class="small-info" th:switch="${info.giamgia}">

							<div th:case="'0'"></div>
							<div th:case="*">
								Giá cũ: <span class="giamgia" th:text="${info.gia}"></span> (-<span
									th:text="${info.giamgia}"></span>%)
							</div>

						</div>

						<div class="loai-hang">
							Loại: <span th:text="${info.category2}"> </span>
						</div>
						<div class="loai-hang">
							Hãng: <span th:text="${info.producer}"> </span>
						</div>
						<div class="loai-hang">
							Màu: <span th:text="${info.color} "> </span>
						</div>

						<div id="dg">
							<!-- onmouseout="mOut()" -->

							<div>

								<span id="s1"><img src="../image/none_rate.png" /></span> <span
									id="s2"><img src="../image/none_rate.png" /></span> <span
									id="s3"><img src="../image/none_rate.png" /></span> <span
									id="s4"><img src="../image/none_rate.png" /></span> <span
									id="s5"><img src="../image/none_rate.png" /></span>
							</div>

							<span id="danhgia" th:text="${info.rate}"> </span>/10 (<span
								th:text="${info.luotdanhgia}"> </span> đánh giá)
						</div>
						<br /> <a data-toggle="tooltip" title="Click chuột để đánh giá!"
							class="linkrate" id="btnrate"><span
							class="glyphicon glyphicon-star-empty"></span>Đánh giá</a> <br /> <br />
						<div class="status">
							<span class="glyphicon glyphicon-hand-right "></span>Trạng thái:
							<span id="trangthai" th:text="${info.soluong}"> </span>
						</div>
						<br /> <br />
						<div>
							Chọn số lượng: <input id="insoluong" class="inputnumber"
								type="number" th:field="${cartLineInfos.soluong}" />
						</div>
						<br /> <br /> <a th:href="@{/infoCustomer}"><button
								class="btnchitiet btn">
								<span class="glyphicon glyphicon-shopping-cart"></span> Mua
							</button></a> <a><button class="btnchitiet btn"
								style="width: 200px !important">
								<span class="glyphicon glyphicon-plus"></span>Thêm vào giỏ hàng
							</button> </a>
					</div>


				</div>
			</form>
			<br /> <br />
			<hr></hr>
			<!-- </div>

		<div class="container jumbotron right"> -->
			<div class="tieudenho ">
				<br /> ĐÁNH GIÁ CỦA KHÁCH HÀNG <span th:text="${info.luotdanhgia}"
					class="badge"></span>
			</div>
			<th:block th:if="${#lists.isEmpty(commentrate)}">
				<h3 class="nocomment">Chưa có đánh giá nào!</h3>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(commentrate)}">
				<div th:each="contact,iterStat : ${commentrate}">
					<div class="media" style="margin-left: 50px;">
						<hr />
						<div class="media-left">
							<img src="../image/img_avatar1.png" class="media-object"
								style="width: 60px; border-radius: 50px;" />
						</div>
						<div class="media-body">
							<i th:text="${contact.date}"></i>
							<div>
								<span class="namerate" th:text="${contact.name}"></span> <i
									class="cmtrate"> Đã đánh giá <span
									th:text="${contact.rate}"></span>/5<span
									class="glyphicon glyphicon-star"></span></i>
							</div>

							<div class="comment" th:text="${contact.comment}"></div>
						</div>
					</div>
					<br />
				</div>
			</th:block>
			<br /> <br />
			<hr></hr>
			<div class="tieudenho ">
				BÌNH LUẬN <span th:text="${totalcomment}" class="badge"></span>
			</div>

			<th:block th:if="${#lists.isEmpty(comments)}">
				<h3 class="nocomment">Chưa có bình luận nào!</h3>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(comments)}">
				<div th:each="contact,iterStat : ${comments}">
					<div class="media" style="margin-left: 50px;">

						<div class="media-left" th:switch="${contact.note}">

							<div th:case="'2'">
								<img src="../image/mmusic.png" class="media-object"
									style="width: 60px; border-radius: 50px;" />
							</div>
							<div th:case="*">
								<img src="../image/default.png" class="media-object"
									style="width: 60px; border-radius: 50px;" />
							</div>



						</div>

						<div class="media-body">
							<i th:text="${contact.date}"></i>
							<div th:switch="${contact.note}">
								<div th:case="'2'">
									<span class="namecmt" style="color: red !important;"
										th:text="${contact.name}"></span>
								</div>
								<div th:case="*">
									<span class="namecmt" th:text="${contact.name}"></span>
								</div>


							</div>

							<div class="comment" th:text="${contact.comment}"></div>
						</div>
					</div>
					<br />
				</div>
			</th:block>
			<br />
			<hr></hr>
			<i style="text-decoration-line: underline;">Thêm bình luận của
				bạn:</i> <br /> <br />
			<form th:action="@{/commentguitar}" th:object="${onecomment}"
				method="POST">
				<input type="hidden" th:field="${onecomment.id}" /> <label>Nhập
					tên của bạn (*):</label> <input th:field="${onecomment.name}" type="text"
					name="name" placeholder="Nhập tên của bạn (*)" class="form-control" /><label>Số
					điện thoại:</label><input th:field="${onecomment.phone}" type="text"
					name="phone" placeholder="Nhập số điện thoại" class="form-control" />
				<label>Bình luận:</label> <input th:field="${onecomment.comment}"
					type="text" class="form-control" /> <br /> <br />
				<button type="submit" class="btn">
					<span class="glyphicon glyphicon-star-empty"></span>Gửi bình luận
				</button>
			</form>
		</div>
	</div>
	<div class="container jumbotron right">

		<div class="menu-title2">

			<a>CÁC SẢN PHẨM KHÁC</a> <br />
		</div>
		<!--san pham-->
		<div th:each="contact,iterStat : ${infos}">
			<div class="col-sm-3 ">
				<div class="sanpham panel panel-default">
					<div class="panel-body imgpr">
						<img class="img-responsive "
							th:src="@{|/productImage?code=${contact.id}|}" />
						<div th:if="${contact.giamgia}!=0">
							<div class="sticksale">
								-<span th:text="${contact.giamgia}"></span>%
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<p class="tensanpham" th:text="${contact.name}"></p>

						<p class="cost" th:text="${contact.giasaugiam}"></p>

						<div th:switch="${contact.giamgia}">

							<p class="status" th:case="'0'" th:text="${contact.producer}"></p>
							<p class="status" th:case="*">
								<span class="giamgia" th:text="${contact.gia}"></span>
							</p>

						</div>
						<a th:href="@{/product_guitar/{id}(id=${contact.id})}"><button
								class="btnchitiet btn">
								<span class="glyphicon glyphicon-shopping-cart"></span> Chi tiết
							</button></a>
					</div>
				</div>


			</div>
		</div>
		<div>
			<a class="xemthem" th:href="@{/guitar}">Xem thêm >></a>
		</div>
	</div>

	<div th:fragment="modalrate">
		<!-- Modal  -->
		<div class="modal fade" id="mdrate" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header"
						style="text-align: center; padding: 10px 10px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4>Hãy nhập bình luận và số điện thoại bạn đã mua hàng để
							đánh giá</h4>
					</div>
					<div class=" form-center modal-body " style="padding: 40px 50px;">
						<form th:action="@{/rateguitar}" th:object="${ratemodel}"
							method="POST">
							<input type="hidden" th:field="${ratemodel.id}" /> <input
								id="ratecustomer" type="hidden" th:field="${ratemodel.rate}" />


							<div class="starinmodal  wow shake" data-toggle="tooltip"
								title="Click chuột để đánh giá!">

								<span onmousedown="mOver1()" id="sa1"><img
									src="../image/rated.png" /></span> <span onmousedown="mOver2()"
									id="sa2"><img src="../image/rated.png" /></span> <span
									onmousedown="mOver3()" id="sa3"><img
									src="../image/rated.png" /></span> <span onmousedown="mOver4()"
									id="sa4"><img src="../image/rated.png" /></span> <span
									onmousedown="mOver5()" id="sa5"><img
									src="../image/rated.png" /></span>
							</div>
							<br /> <br />

							<div>
								<label>Số điện thoại(*):</label> <input
									th:value="${ratemodel.phone}" type="text" name="phone"
									placeholder="Nhập số điện thoại" class="form-control" /> <br />
							</div>
							<div>
								<label>Bình luận:</label> <input
									
									th:field="${ratemodel.comment}" th:value="${ratemodel.comment}"
									type="text" name="" placeholder="Nhập bình luận"
									class="form-control input-full" /> <br />
							</div>

							<button style="background-color: #175B27; color: white;"
								type="submit" class="btn btn-block">
								<span class="glyphicon glyphicon-star"></span> Đánh giá
							</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-cam btn-default pull-left"
							data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>

					</div>
				</div>

			</div>
		</div>
		<!-- End Modal  -->
	</div>



	<footer th:replace="index :: footer"></footer>
</body>
</html>