<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>

	<div class="jumbotron form-edit container main-content form">
		<div class="menu-title2">
			<a>ĐẶT HÀNG THÀNH CÔNG!</a>
		</div>
		<div>
	<h3>chúc mừng bạn đã đặt hàng thành công, chúng tôi sẽ liên hệ với số điên thoại của bạn để xác nhận đơn hàng và chuyển hàng đến bạn sớm nhất</h3>
	<b>Cảm ơn bạn đã mua hàng!!!</b>

<br/>
		<br/>
 <a th:href="@{/}">
			<button id="btn-click" class="btn btn-success">Về trang chủ</button>
		</a>
		</div>
	</div>
	<!-- /.container -->




</body>

</html>